@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
* {
  margin: 0 auto;
  padding: 0 auto;
  font-family: Inter;
  transition: 0.5s;
}

header {
  width: 100%;
  height: 100px;
  background-color: #3faba9;
  display: flex;
  text-align: center;
  align-items: center;
  box-shadow: 0px 6px 5px #005869;
}
.toolbar {
  display: flex;
  gap: 35px;
}
.toolbar a {
  color: #fff;
  text-decoration: none;
  font-size: 32px;
}
.toolbar a:hover {
  color: #005869;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

footer {
  background-color: #005869;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
}
.footer_title {
  font-size: 48px;
  margin-top: 60px;
  font-weight: bold;
}
.adress_footer {
  margin-top: 50px;
}
.adress_footer p {
  font-size: 32px;
  font-weight: bold;
}
.adress_footer a {
  text-decoration: none;
  color: #fff;
}
.adress_footer a:hover {
  color: #3faba9;
}
.contacts_footer {
  display: grid;
  margin-top: 50px;
}
.phone_footer {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
}
.phone_footer:hover {
  text-decoration: underline;
}
.mail_footer {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  margin-top: 20px;
}
.mail_footer:hover {
  text-decoration: underline;
}
.support_footer {
  margin-top: 65px;
}
.support_footer p {
  margin-bottom: 20px;
}
.network_footer {
  margin-top: 50px;
  margin-bottom: 50px;
}
.networl_footer-img {
  display: flex;
  gap: 25px;
}

/* index */
.index_content {
  width: 100%;
}
.about_the_company {
  display: flex;
  margin-top: 100px;
  width: 85%;
}
.text_about_company {
  width: 50%;
}
.title_text_about {
  font-size: 32px;
  margin-bottom: 50px;
}
.description_title_text {
  font-size: 24px;
  max-width: 700px;
  margin-left: 0px;
}

.video_index_block {
  margin-top: 170px;
}
.video_index_block h2 {
  font-size: 48px;
  max-width: 1200px;
  font-weight: 500;
}
.index_hr {
  border: 3px solid #3faba9;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 85%;
}

.index_categories {
  margin-top: 100px;
  background-color: #005869;
  height: 700px;
  display: flex;
}
.index_categories img {
  width: 500px;
}

.index_categories-title {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  gap: 10%;
}
.index_categories-title p {
  font-size: 48px;
  margin-left: 0px;
}
.reward_index_block {
  display: flex;
  margin-top: 120px;
  width: 85%;
}

/* products */
.content_products {
  width: 85%;
  text-align: center;
}
.title_page {
  width: 600px;
  display: flex;
  background-color: #3faba9;
  border-radius: 10px;
  height: 60px;
  text-align: center;
  margin-top: 75px;
  color: #fff;
  align-items: center;
}
.title_page h1 {
  font-weight: 400;
  font-size: 32px;
}
.content_products-cards {
  margin-top: 91px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}
.product_block {
  background-color: #3faba9;
  border-radius: 10px;
  text-align: center;
  width: 475px;
}
.product_block p {
  margin-top: 30px;
  color: #fff;
  font-size: 32px;
  font-weight: 300;
}
.product_block img {
  width: 400px;
  margin-top: 50px;
  max-height: 300px;
}
.where_buy button {
  width: 20%;
  margin-top: 100px;
  background-color: #005869;
  border: none;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  height: 100px;
  font-weight: bold;
  font-size: 48px;
}
.where_buy button:hover {
  background-color: #3faba9;
}

/* news */
.news_content {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.news_block {
  margin-top: 100px;
  background-color: #3faba9;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
.title_news {
  font-size: 32px;
  font-weight: bold;
  margin-top: 10px;
}
.date_news {
  font-size: 20px;
}
.news_hr {
  margin-top: 10px;
  border: 1px solid #fff;
}
.content-news_block {
  font-size: 26px;
  margin-top: 10px;
  text-align: left;
}

/* authentication */
.auth_block {
  width: 55%;
  background-color: #3faba9;
  min-height: 200px;
  margin-top: 150px;
  border-radius: 10px;
  text-align: center;
}
.auth_block p {
  color: #fff;
  margin-top: 50px;
  font-size: 32px;
  font-weight: 600;
}
.auth_block form {
  display: flex;
  flex-direction: column;
}
.login_auth {
  margin-top: 100px;
  border-radius: 10px;
  border: none;
  width: 60%;
  font-size: 26px;
  padding: 10px;
}
.pass_auth {
  margin-top: 50px;
  border-radius: 10px;
  border: none;
  width: 60%;
  font-size: 26px;
  padding: 10px;
}
.auth_btn {
  margin-top: 100px;
  margin-bottom: 70px;
  background-color: #005869;
  font-size: 26px;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 10px;
  width: 30%;
}
.auth_btn:hover {
  background-color: #fff;
  color: #005869;
}

/* home */
.user_home_content {
  width: 80%;
  min-height: 200px;
  background-color: #3faba9;
  border-radius: 10px;
  margin-top: 100px;
  text-align: center;
  color: #fff;
  display: grid;
  margin-bottom: 75px;
}
.user_home_content p {
  font-size: 48px;
  margin-top: 75px;
}
.home_btn {
  margin-top: 100px;
  background-color: #005869;
  color: #fff;
  width: 60%;
  height: 80px;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
}
.home_btn:hover {
  background-color: #fff;
  color: #005869;
}
.form_exit_btn {
  width: 100%;
}
.exit_btn {
  margin-top: 100px;
  background-color: red;
  color: #fff;
  height: 80px;
  border: none;
  font-size: 30px;
  border-radius: 10px;
  width: 30%;
  font-weight: 500;
  margin-bottom: 75px;
  cursor: pointer;
}
.exit_btn:hover {
  background-color: #fff;
  color: red;
}

/* test */
.test_content {
  width: 80%;
  text-align: center;
}
.question {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 50%;
  padding: 20px;
  border-radius: 10px;
  color: #005869;
  border: 2px solid #3faba9;
}
.question h3 {
  margin-bottom: 30px;
}
.send_test {
  margin-bottom: 100px;
  color: #fff;
  background-color: #005869;
  width: 50%;
  height: 60px;
  border-radius: 10px;
  border: none;
  font-size: 30px;
  font-weight: 500;
  cursor: pointer;
}
.send_test:hover {
  background-color: #3faba9;
}

/* new news */
.new_news_content {
  margin-top: 50px;
  border-radius: 10px;
  width: 60%;
  min-height: 200px;
  display: grid;
  text-align: center;
}
.title_new_news {
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid black;
  width: 80%;
  font-size: 24px;
}
.new_news_content textarea {
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  max-width: 600px;
  max-height: 400px;
  font-size: 20px;
}
.send_new_news {
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px;
  width: 80%;
  margin-bottom: 50px;
  cursor: pointer;
  background-color: #005869;
  color: #fff;
  border: none;
  font-size: 24px;
}
.send_new_news:hover {
  background-color: #3faba9;
}

/* test result */
.test_result-content {
  width: 80%;
}
.test_result-content {
  margin-top: 20px;
}
.test_result-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 50px;
}
.test_result-content table th,
.test_result-content table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.test_result-content table th {
  background-color: #f2f2f2;
}
.test_result-content table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.test_result-content table tr:hover {
  background-color: #ddd;
}

/* new product */
.new_product_form p {
  margin-top: 50px;
  font-size: 30px;
  margin-bottom: 30px;
}
.success,
.error {
  text-align: center;
}
